<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="Parallelization" value="ParallelScope.All" />
    <Parameter name="CurrentBrowser" value="Chrome" />
	  <Parameter name="BrowserInHeadlessMode" value="false" />
    <Parameter name="TestEnvironmentUrl" value="http://www.google.com" />
    <Parameter name="MailboxUrl" value="http://www.google.com" />
    <Parameter name="GmailLogin1" value="nixautotest@gmail.com" />
    <Parameter name="GmailPassword1" value="MyT3sT20" />
  </TestRunParameters>
</RunSettings>
